* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #0b1623;
}

.wrapper {
  background-color: #e3edf5;
  width: 90%;
  max-width: 540px;
  min-height: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 15px;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  margin: 20px auto 10px;
  /* padding: 10px; */
}

#new-task-title {
  width: 308px;
  height: 40px;
  border: 1px solid black;
  outline: none;
  background-color: transparent;
  margin-right: 10px;
  border-radius: 8px;
  padding-left: 10px;
}

input::placeholder {
  color: #0b1623;
  font-size: 16px;
  text-transform: capitalize;
}

#new-task-title:focus {
  border: 2px solid red;
}

button {
  width: 55px;
  height: 40px;
  outline: none;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 16px;
  color:#fef5ea ;
  background-color: midnightblue;
  font-weight: bold;
}

button:hover {
  background-color: white;
  color: midnightblue;
}

.id {
  background-color: #262020;
  margin: 20px 30px;
  padding: 20px 30px;
  min-height: 300px;
  border-radius: 15px;
}

#list li{
  color: #faf5ff;
  list-style: none;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 30px;
}

#list input {
  margin-right: 10px;
}